{% extends 'layout.html' %}
{% load i18n %}
{% load account socialaccount %}
{% block script %}
{% endblock %}
{% block contents %}
    <div class="col s12 l8">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <a class="button secondaryAction"
               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <br>
            <button class="btn btn-login waves-effect waves-light col s12 l2" type="submit" name="action">로그인
                <i class="material-icons right">send</i>
            </button>
            <a href="{{ signup_url }}" class="modal-trigger waves-effect waves-light btn btn-login col s12 l2">
                <i class="material-icons right">cloud</i>회원가입
            </a>
            <a class='dropdown-button btn btn-login col s12 l2' href='#' data-activates='dropdown1'>소셜 로그인
                <i class="material-icons right">perm_identity</i>
            </a>

            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
                <div id="dropdown1" class="socialaccount_ballot dropdown-content">
                    <ul class="socialaccount_providers">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                    </ul>
                </div>
                {% include "socialaccount/snippets/login_extra.html" %}
            {% else %}
                <p>{% blocktrans %}If you have not created an account yet, then please
                    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            {% endif %}
        </form>
    </div>
{% endblock %}
