{% load i18n %}
<script>
    $(function () {
        $("#formChangePassword").submit(function () {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: '{% url 'account_change_password' %}',
                data: $("#formChangePassword").serialize(),
                success: function (response) {
                    location.reload();
                },
                error: function (e) {
                    var errors = JSON.parse(e.responseText).form_errors;
                    $.each(errors,function(k,v){
                        for(var i=0;i<v.length;i++){
                            Materialize.toast(v[i], 3000, 'rounded');
                        }
                    });
                }
            });
        });
    });
</script>
{% block content %}
    <h4>{% trans "Change Password" %}</h4>
    <form id="formChangePassword" method="POST" class="password_change">
        {% csrf_token %}
        <p class="input-field">
            <label for="id_oldpassword">현재 비밀번호:</label>
            <input id="id_oldpassword" name="oldpassword" type="password">
        </p>
        <p class="input-field">
            <label for="id_password1">새 비밀번호:</label>
            <input id="id_password1" name="password1" type="password">
        </p>
        <p class="input-field">
            <label for="id_password2">새 비밀번호 (확인):</label>
            <input id="id_password2" name="password2" type="password">
        </p>
        <button type="submit" name="action" class="waves-effect waves-light btn">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
