{% load i18n %}
<script>
    $(function () {
        $("#formSetPassword").submit(function () {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: '{% url 'account_set_password' %}',
                data: $("#formSetPassword").serialize(),
                success: function (response) {
                    location.reload();
                },
                error: function (e) {
                    var errors = JSON.parse(e.responseText).form_errors;
                    $.each(errors,function(k,v){
                        for(var i=0;i<v.length;i++){
                            Materialize.toast(v[i], 3000, 'rounded');
                        }
                    });
                }
            });
        });
    });
</script>
<h4>{% trans "Set Password" %}</h4>

<form id="formSetPassword" method="POST" class="password_set">
    {% csrf_token %}
    <p class="input-field">
        <input id="id_password1" name="password1" type="password">
        <label for="id_password1">비밀번호:</label>
    </p>
    <p class="input-field">
        <input id="id_password2" name="password2" type="password">
        <label for="id_password2">비밀번호 (확인):</label>
    </p>
    <input type="submit" name="action" class="waves-effect waves-light btn" value="{% trans 'Set Password' %}"/>
</form>
