{% extends 'left_ad_layout.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block contents %}
    <h4 class="teal-text text-lighten-1 board-title" style="display: inline-block;">{% trans "Password Reset" %}</h4><br>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
