{% extends 'left_ad_layout.html' %}
{% load i18n %}
{% load account socialaccount %}
{% block script %}
{% endblock %}
{% block contents %}
    <p>
        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn waves-effect waves-light" type="submit" name="action">{% trans "Sign Up" %}
            <i class="material-icons right">cloud</i>
        </button>
    </form>
{% endblock %}
