{% extends 'layout.html' %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h4 class="teal-text text-lighten-1">매크로 등록</h4>
            <form method="post" action="{% url 'mypage:macro_register' %}" class="col s12">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">done</i>
                        <input id="macro_name" name="macro_name" type="text">
                        <label for="macro_name">프로그램명</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">done</i>
                        <textarea id="macro_detail" name="macro_detail" class="materialize-textarea"></textarea>
                        <label for="macro_detail">간단한 설명</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light btn-large" type="submit" name="action">등록
                    <i class="material-icons right">send</i>
                </button>
            </form>

        </div>
    </div>
{% endblock %}