{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            {% if macro_list %}
                <ul class="collapsible" data-collapsible="accordion">
                    {% for macro in macro_list %}
                        <li>
                            <div class="collapsible-header">
                                <span><i class="material-icons">filter_drama</i>{{ macro.title }}</span>
                                <a href="{% url 'mypage:macro_manager' macro_id=macro.id %}"
                                   class="waves-effect waves-light btn-block"
                                   style="float: right; text-align: center"><i class="material-icons"></i>관리</a>
                                <span id="macro_uuid{{ forloop.counter }}"
                                      class="grey-text text-lighten-1 tooltipped hide-on-small-only"
                                      data-position="left" data-tooltip="click to copy" style="float: right"
                                      onclick="copyToClipboard('#macro_uuid{{ forloop.counter }}');Materialize.toast('복사되었습니다', 4000,'rounded')">
                                {{ macro.id }}
                            </span>
                            </div>
                            <div class="collapsible-body">
                                <p>
                                    <span>기간: {{ macro.auth_date }}일</span><br>
                                    <span>가격: {{ macro.fee|intcomma }}원</span><br>
                                    <span>설명: {{ macro.detail|linebreaksbr }}</span>
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'mypage:macro_register' %}" class="waves-effect waves-light btn" style="float: right">
                    <i class="material-icons left">cloud</i>매크로 등록
                </a>
            {% else %}
                {# TODO: 모달폼에 AJAX 로 받아서 처리 예정 #}
                <div class="row">
                    <div style="text-align: center; width:100%">
                        <br><br><br>
                        <a href="{% url 'mypage:macro_register' %}" class="waves-effect waves-light btn-large">
                            <i class="material-icons left">cloud</i>첫 매크로를 등록해보세요!
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}