boto3
django==1.11.8
django-admin-honeypot
django-allauth
django-allauth-mandrill
django-analytical
django-contrib-comments
django-hitcount
django-ipware
django-markdown-deux
django-material
django-pure-pagination
django-storages
django-tracking2
djangorestframework
drfdocs
markdown2
psycopg2==2.7.3.2
subdomains
Unipath
python-dotenv