boto3==1.9.130
botocore==1.12.130
certifi==2019.3.9
chardet==3.0.4
defusedxml==0.5.0
Django==2.2.10
django-admin-honeypot==1.1.0
django-allauth==0.39.1
django-allauth-mandrill==0.1.4
django-analytical==2.5.0
django-contrib-comments==1.9.1
django-hitcount==1.3.0
django-ipware==2.1.0
django-markdown-deux==1.0.5
django-material==1.5.3
django-pure-pagination==0.3.0
django-storages==1.7.1
django-tracking2==0.5.0
djangorestframework==3.9.2
djrill==2.1.0
docutils==0.14
drfdocs==0.0.11
idna==2.8
jmespath==0.9.4
markdown2==2.3.7
oauthlib==3.0.1
psycopg2==2.8.2
python-dateutil==2.8.0
python-dotenv==0.10.1
python3-openid==3.1.0
pytz==2019.1
requests==2.21.0
requests-oauthlib==1.2.0
s3transfer==0.2.0
six==1.12.0
sqlparse==0.3.0
subdomains==2.1.1
Unipath==1.1
urllib3==1.24.2
