django==1.9.13
djangorestframework
django-subdomains
django-allauth==0.31.0
django-admin-honeypot
django-ipware
django-ses
boto
Unipath
psycopg2
drfdocs
pytz
invoke
celery
django-celery-beat
django-hitcount
django-markdown-deux
django-contrib-comments
markdown2
