{% extends 'left_ad_layout.html' %}
{% block script %}
    <script>
        function addDate(date){
            var $input = $('.datepicker').pickadate();
            // Use the picker object directly.
            var picker = $input.pickadate('picker');
            var _date = new Date($input.val());
            picker.set('select', _date.setDate(_date.getDate()+date));
        }
    </script>
{% endblock %}
{% block contents %}
    <h4 class="teal-text text-lighten-1">{{ user.extendsuser.nickname|default:user.email }} 인증 수정</h4>
    <form method="post" action="{% url 'main:auth_modify' macro_id=macro email=user.email %}" class="col s12">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12 l6">
                <i class="material-icons prefix">done</i>
                <input id="end_date" name="end_date" type="date" class="datepicker" value="{{ userpage.end_date|date:"Y-m-d" }}">
                <label for="end_date">인증 종료일</label>
            </div>
            <div class="input-field col s12 l6">
                <a href="#" onclick="addDate(1)">
                    <i class="material-icons">add</i> 1일&nbsp;
                </a>

                <a href="#"onclick="addDate(30)">
                    <i class="material-icons">add</i> 30일
                </a>
            </div>
        </div>
        <button class="btn waves-effect waves-light btn-large" type="submit" name="action">완료
            <i class="material-icons right">send</i>
        </button>
    </form>
{% endblock %}