{% extends 'left_ad_layout.html' %}
{% load humanize %}
{% load static from staticfiles %}
{% block contents %}
    <div class="card-panel" style="text-align: center">
        <div class="row">
            <div class="col s12 m4">
                <img class="responsive-img"
                     src="{{ user.socialaccount_set.all.0.get_avatar_url|default:default_profile }}"
                     width="150px" height="150px">
            </div>
            <div class="col s12 m8">
                <div>
                    <h2 style="display: inline-block;">
                        {{ user.get_username }}
                    </h2>
                    <span style="font-size:18px;">
                        &nbsp; {{ user.email }}
                    </span>
                </div>
            {% if debug %}
                <a class="waves-effect waves-light btn" href="#modal1" style="width: 170px; margin: 5px">
                    닉네임 변경
                </a>
            {% endif %}
                <a class="waves-effect waves-light btn" href="#modal2" style="width: 170px; margin: 5px">
                    {% if user.has_usable_password %}
                        비밀번호 변경
                    {% else %}
                        비밀번호 설정
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            {% include  "account/nickname_change.html" %}
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            {% if user.has_usable_password %}
                {% include  "account/password_change.html" %}
            {% else %}
                {% include  "account/password_set.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}