{% extends 'left_ad_layout.html' %}
{% load humanize %}
{% load main_extras %}
{% load static from staticfiles %}
{% block script %}
    <script>
        function changeToken(){
            if(confirm('사용중인 매크로를 다시 로그인해야 할 수도 있습니다.\n토큰을 변경하시겠습니까?')){
                window.location = '{% url 'new_token' %}'
            }
        }
    </script>
{% endblock %}
{% block contents %}
    <div class="card-panel" style="text-align: center">
        <div class="row">
            <div class="col s12 m4">
                <img class="responsive-img"
                     src="{{ user.socialaccount_set.all.0.get_avatar_url|default:default_profile }}"
                     width="150px" height="150px">
            </div>
            <div class="col s12 m8">
                <div style="height: 22px">
                    <span class="grey-text text-lighten-1 hide-on-small-only tooltipped"
                          style="float: right"
                          data-position="left"
                          data-tooltip="click to copy"
                          onclick="copyToClipboard('#user_token');Materialize.toast('복사되었습니다', 4000,'rounded')">
                        토큰 복사:
                        <span id="user_token">
                            {{ user.extendsuser.token|get_or_create_token:user }}
                        </span>
                    </span>
                </div>
                <div>
                    <h2 style="display: inline-block;">
                        {{ user.get_username }}
                    </h2>
                    <span style="font-size:18px;">
                        &nbsp; {{ user.email }}
                    </span>
                </div>
                {% if debug %}
                    <a class="waves-effect waves-light btn" href="#modal1" style="width: 170px; margin: 5px">
                        닉네임 변경
                    </a>
                {% endif %}
                <a class="waves-effect waves-light btn" href="#modal2" style="width: 170px; margin: 5px">
                    {% if user.has_usable_password %}
                        비밀번호 변경
                    {% else %}
                        비밀번호 설정
                    {% endif %}
                </a>
                <a class="waves-effect waves-light btn" href="#" onclick="changeToken()" style="width: 170px; margin: 5px">
                    토큰 변경
                </a>
            </div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            {% include  "account/nickname_change.html" %}
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            {% if user.has_usable_password %}
                {% include  "account/password_change.html" %}
            {% else %}
                {% include  "account/password_set.html" %}
            {% endif %}
        </div>
    </div>
{% endblock %}