{% extends 'layout.html' %}
{% load humanize %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h4 style="display: inline-block;" class="light">{{ macro }}</h4>
            <span id="macro_uuid{{ forloop.counter }}" class="grey-text text-lighten-1 tooltipped hide-on-small-only"
                  data-position="left" data-tooltip="click to copy" style="float: right;margin-top: 30px"
                  onclick="copyToClipboard('#macro_uuid{{ forloop.counter }}');Materialize.toast('복사되었습니다', 4000,'rounded')">{{ macro.id }}</span>
            <table class="bordered highlight">
                <thead>
                <tr>
                    <th>아이디</th>
                    <th>시작일</th>
                    <th>종료일</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr {% if not user.is_past_due %}class="teal lighten-5" {% endif %}>
                        <td>{{ user.user }}</td>
                        <td>{{ user.created }}</td>
                        <td>
                            {{ user.end_date|date:"Y년 m월 d일" }}
                            {% if not user.is_past_due %}
                            <span class="new badge" data-badge-caption="남음">{{ user.end_date|naturaltime }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3" class="center-align">등록된 유저가 없습니다</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <a href="{% url 'main:auth_register' macro_id=macro.id %}" class="waves-effect waves-light btn" style="float: right">
                <i class="material-icons left">cloud</i>유저 등록
            </a>
        </div>
    </div>
{% endblock %}