{% extends 'layout.html' %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container animated fadeIn">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">쉽고 편리한 인증시스템</h1>
            <div class="row center">
                <h5 class="header col s12 light">매크로 또는 프로그램에 인증시스템을 도입하고 쉽고 편리하게 관리해보세요</h5>
            </div>
            <div class="row center">
                <a href="#" id="download-button" class="btn-large waves-effect waves-light">어떻게 사용하나요?</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="container">
        <div class="section animated fadeIn">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">쉽고 빠른 도입</h5>
                        <p class="light">유저를 관리하고 싶은 매크로나 프로그램에 쉽고 빠르게 도입해서 사용해보세요</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">편리한 사용자 관리</h5>
                        <p class="light">사용자들을 한눈에 관리해보세요. 지금 사용하고 있는 사람이 몇명인지, 언제 어디서나 확인할 수 있습니다.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">thumb_up</i></h2>
                        <h5 class="center">매크로 홍보</h5>
                        <p class="light">등록한 매크로는 검색 리스트에 포함됩니다. 더 많은 사용자에게 노출될 수 있습니다.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}