{% extends 'tutorial_layout.html' %}
{% load static %}
{% block left_nav %}
    <li class="bold"><a href="{% url 'introduction' %}" class="waves-effect waves-teal">Authome 소개</a></li>
    <li class="bold active"><a href="{% url 'tutorial' %}" class="waves-effect waves-teal">처음 시작하기</a></li>
{% endblock %}
{% block title %}처음 시작하기{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m9 l10">
                <div id="part1" class="section scrollspy">
                    <p>
                        <h2 class="header teal-text">순서</h2>
                        <ol><a href="#part2"><h5 class="header black-text">매크로 등록하기</h5></a></ol>
                        <ol><a href="#part3"><h5 class="header black-text">매크로에 삽입하기</h5></a></ol>
                    </p>
                </div>
                <div id="part2" class="section scrollspy">
                    <p>
                        <h2 class="header teal-text">매크로 등록하기</h2>
                        다음을 보고 따라합니다.<br><br>
                        <img class="materialboxed responsive-img z-depth-3" src="{% static 'images/tutorial1.gif' %}" >
                        <br>
                        <blockquote>
                            매크로의 ID (예: 28d805b8-9c27-405a-aa51-a61424dc5e05) 가 알려지지 않도록 각별한 주의가 요구됩니다.
                        </blockquote>
                        <p>다음은 빠르게 따라할 수 있는 예제입니다</p>
                        <h5>오토핫키</h5>
                    </p>
                </div>
                <div id="part3" class="section scrollspy">
                    <p>
                        <h2 class="header teal-text">매크로에 삽입하기</h2>
                        <p>다음은 빠르게 따라할 수 있는 예제입니다</p>
                        <h5>오토핫키</h5><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    </p>
                </div>
            </div>
            <!-- Table of Contents -->
            <div class="col hide-on-small-only m3 l2">
                <div class="toc-wrapper">
                    <ul class="section table-of-contents" style="border-left:#26a69a">
                        <li><a href="#part1">순서</a></li>
                        <li><a href="#part2">매크로 등록하기</a></li>
                        <li><a href="#part3">매크로에 삽입하기</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}