{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <br><br>
            <div>{{ form.username.label_tag }}</div>
            <div class="">{{ form.username }}</div>
            <div>{{ form.password.label_tag }}</div>
            <div>{{ form.password }}</div>
            <button class="btn waves-effect waves-light" type="submit" name="action">로그인
                <i class="material-icons right">send</i>
            </button>
            <a href="#modal1" class="modal-trigger waves-effect waves-light btn"><i
                    class="material-icons right">cloud</i>회원가입</a>
            </span>
        </form>
    </div>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4><span class="teal-text">AUTH</span><span class="grey-text">OME</span> 서비스 약관</h4>
            <p>아이디 및 패스워드 외 다른 정보를 요구하지 않으며 서비스약관은 추후 변동될 수 있습니다.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">거절</a>
            <a onclick="window.location='/accounts/join'" class="modal-action modal-close waves-effect waves-green btn-flat ">동의</a>
        </div>
    </div>

{% endblock %}

