{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 l3" style="padding: 7.5px 13px;">
                <div class="hide-on-med-and-down">
                    <!-- 어썸 반응형1 -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-9848654927199314"
                         data-ad-slot="2308609981"
                         data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="hide-on-large-only hide-on-small-and-down valign-wrapper">
                    <!-- 어썸 중간크기용 상단 바 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px;margin:0 auto"
                         data-ad-client="ca-pub-9848654927199314"
                         data-ad-slot="3840558786"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div class="hide-on-med-and-up valign-wrapper">
                    <!-- 어썸 모바일용 상단 바 -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:320px;height:50px;margin:0 auto"
                         data-ad-client="ca-pub-9848654927199314"
                         data-ad-slot="6794025182"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
            <div class="col s12 l9">
            {% block contents %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}