{% extends 'left_ad_layout.html' %}
{% load board_extras %}
{% block script %}
    <script>
        $(function () {
            var simplemde = new SimpleMDE({ element: document.getElementById("board_detail") });
        });
    </script>
{% endblock %}
{% block contents %}
    <h4 class="teal-text text-lighten-1">게시글 등록</h4>
    <form method="post" action="{% url 'board:board_editor' %}" class="col s12">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <input id="board_title" name="board_title" type="text" maxlength="70" data-length="70" required>
                <label for="board_title">제목</label>
            </div>
            <div class="input-field col s12">
                <textarea id="board_detail" name="board_detail"></textarea>
            </div>
        </div>
        <button class="btn waves-effect waves-light btn-large" type="submit" name="action" style="float: right">등록
            <i class="material-icons right">send</i>
        </button>
    </form>
{% endblock %}