{% extends 'board_layout.html' %}
{% load markdown_deux_tags %}
{% load comments %}
{% block title %}
    <h4 class="teal-text text-lighten-1" style="display: inline-block;">{{ object.title }}</h4>
{% endblock %}
{% block detail %}
    <div id="board_detail" class="flow-text">
    {% autoescape off %}
        {{ object.detail|markdown:"STYLE" }}
    {% endautoescape %}
    </div>
{% endblock %}
{% block comments %}
    <div class="row">
    {% get_comment_list for board object.id as comment_list %}
    {% for comment in comment_list %}
        ...
    {% endfor %}
        <div class="col s12" style="margin: 15px 0;">
            <div style="margin-bottom: 5px">
                <img class="badge circle" style="width:48px;height:48px;float:left;" src="{{ user.socialaccount_set.all.0.get_avatar_url|default:default_profile }}" />
                <span class="new badge teal lighten-1 white-text" data-badge-caption="" style="margin-left:5px;float:left;">기억나니</span>
                <span class="badge" style="float:left">1주일 전</span>
                <a href="#"><i class="material-icons" style="float: left;">reply</i></a>
            </div>
            <br>
            <div><span style="margin-left:5px;">아무말 대잔치</span></div>
        </div>
    </div>
    <div class="row">
        <form method="post" action=".">
            {% csrf_token %}
            <div class="input-field col s12">
                <textarea id="comment" class="materialize-textarea" data-length="120"></textarea>
                <label for="comment">댓글쓰기</label>
            </div>
            <div class="col s12">
                <button class="btn waves-effect waves-light btn-large" type="submit" name="action" style="float: right">등록
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}