{% extends 'left_ad_layout.html' %}
{% load markdown_deux_tags %}
{% block contents %}
    <h4 class="teal-text text-lighten-1" style="display: inline-block;">{{ object.title }}</h4>
    <hr>
    <div id="board_detail" class="flow-text">
    {% autoescape off %}
        {{ object.detail|markdown:"STYLE" }}
    {% endautoescape %}
    </div>
    <div class="row">
        <div class="col s12">
            <div class="hide-on-med-and-down valign-wrapper">
                <!-- 어썸 큰 가로 리더보드 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:970px;height:90px"
                     data-ad-client="ca-pub-9848654927199314"
                     data-ad-slot="5621356387"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="hide-on-large-only hide-on-small-and-down valign-wrapper">
                <!-- 어썸 중간크기용 상단 바 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px;margin:0 auto"
                     data-ad-client="ca-pub-9848654927199314"
                     data-ad-slot="3840558786"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <div class="hide-on-med-and-up valign-wrapper">
                <!-- 어썸 모바일용 상단 바 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:320px;height:50px;margin:0 auto"
                     data-ad-client="ca-pub-9848654927199314"
                     data-ad-slot="6794025182"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <form method="post" action=".">
            {% csrf_token %}
            <div class="input-field col s12">
                <img class="circle material-icons prefix" src="{{ user.socialaccount_set.all.0.get_avatar_url|default:default_profile }}" />
                <input id="comment" type="text" class="validate">
                <label for="comment">댓글</label>
            </div>
            <div class="col s12">
                <button class="btn waves-effect waves-light btn-large" type="submit" name="action" style="float: right">등록
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}