{% extends 'left_ad_layout.html' %}
{% load static %}
{% load comments %}
{% block contents %}
    <br>
    <div class="row">
        <div class="col s12 l12">
            <nav>
                <div class="nav-wrapper">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
            <table class="highlight">
                <colgroup>
                    <col width="6%">
                    <col width="64%">
                    <col width="12%">
                    <col width="12%">
                    <col width="6%">
                </colgroup>
                <thead>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                    <th>글쓴이</th>
                    <th>등록일</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                {% for board in board_list %}
                    {% get_comment_count for board as comment_count %}
                    <tr>
                        <td>{{ board.pk }}</td>
                        <td><a href="{% url "board:board_detail" pk=board.pk %}">{{ board.title }} ({{ comment_count }})</a></td>
                        <td>
                            <img class="circle" style="width:30px;height:30px;" src="{{ board.user.socialaccount_set.all.0.get_avatar_url|default:default_profile }}">
                            {{ board.user }}
                        </td>
                        <td>{{ board.created|date:"y-m-d H:i" }}</td>
                        <td>{{ board.hit_count.hits }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5" class="center-align">아직 게시물이 하나도 없네요. 첫 게시글을 남겨주세요!</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'board:board_register' %}" class="waves-effect waves-light btn" style="float: right">
        <i class="material-icons left">mode_edit</i>글쓰기
    </a>
{% endblock %}
