{% extends 'left_ad_layout.html' %}
{% load subdomainurls %}
{% load static %}
{% block content %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container animated fadeIn">
            <br><br>
            <h2 class="header center teal-text text-lighten-2">매크로 유저 관리 시스템</h2>
            <div class="row center">
                <h5 class="header col s12 light flow-text">당신의 매크로에 관리시스템을 도입해서 유저를 쉽고 편리하게 관리해보세요</h5>
            </div>
            <div class="row center">
                <a href="{% url 'quick_start' subdomain='docs' %}" id="download-button" class="btn-large waves-effect waves-light">30초만에 로그인만들기</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="container">
        <div class="section animated fadeIn">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text promo"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">간결한 세팅</h5>
                        <p class="light">단 30초면 세팅 가능합니다. 유저를 관리하고 싶은 매크로에 쉽고 빠르게 도입해서 사용해보세요.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text promo"><i class="material-icons">group</i></h2>
                        <h5 class="center">쉬운 사용자 관리</h5>
                        <p class="light">사용자의 접속 로그, 동시접속차단, 기간 연장 등 언제 어디서나 관리할 수 있습니다.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text promo"><i class="material-icons">thumb_up</i></h2>
                        <h5 class="center">매크로 홍보</h5>
                        <p class="light">등록한 매크로는 검색 리스트에 포함시킬 수 있습니다. 더 많은 사용자에게 노출시키세요.</p>
                    </div>
                </div>
{#                <div class="col s12 m6">#}
{#                    <div class="card-panel teal" style="height:300px; padding-top:10px; overflow: auto">#}
{#                        {% for e in "0123456789" %}#}
{#                        <div class="card-panel grey lighten-5 z-depth-1 row valign-wrapper"#}
{#                             style="padding:5px; margin-bottom: 0">#}
{#                            <div class="col s2">#}
{#                                <img src="{% static 'images/Jigglypuff.png' %}" alt="" class="circle responsive-img">#}
{#                            </div>#}
{#                            <div class="col s10">#}
{#                                <span class="black-text">#}
{#                                    This is a square image.#}
{#                                </span>#}
{#                            </div>#}
{#                        </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}

            </div>
        </div>

    </div>
{% endblock %}