/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*백그라운드 이미지 투명하게만들기*/
.opacity-background {
    position: relative;
    z-index: 1;
}

.opacity-background:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background: url('/images/test.jpg') center center;*/
    opacity: .4;
}

.table-of-contents a:hover{
    border-left: 1px solid #26a69a !important;
}

.table-of-contents a.active{
    border-left: 2px solid #26a69a !important;
}

#nav-mobile > li > a > i{
    height: 45px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
.errorlist{
    color: #FF1744 !important;
}