{% extends 'layout.html' %}
{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">쉽고 빠른 인증시스템</h1>
      <div class="row center">
        <h5 class="header col s12 light">매크로 또는 프로그램에 쉽고 빠르게 인증시스템을 도입해 보세요</h5>
      </div>
      <div class="row center">
        <a href="" id="download-button" class="btn-large waves-effect waves-light">튜토리얼</a>
      </div>
      <br><br>
    </div>
  </div>


  <div class="container">
    <div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">쉽고 빠른 도입</h5>
            <p class="light">인증시스템을 만드는데 시간을 낭비하지 마세요. 유료로 판매하고 싶은 오토핫키같은 매크로나 잘 만들어진 프로그램에 쉽고 빠르게 인증시스템을 도입할 수 있습니다.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">편리한 사용자 관리</h5>
            <p class="light">구매자들을 한눈에 관리해보세요. 지금 사용하고 있는 사람이 몇명인지, 언제 어디서나 확인할 수 있습니다.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">자동 판매</h5>
            <p class="light">무통장입금으로 결제를 받던 개인 판매자들은 이제 상품을 올려놓고 판매할 수 있습니다. 사용자가 구매시 설정된 날짜만큼 자동으로 연장됩니다.</p>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
  </div>
{% endblock %}