{% extends 'layout.html' %}
{% load static %}
{% load l10n %}
{% load subdomainurls %}
{% load humanize %}
{% block script %}
    <script>
    $(function(){
        $("select.select-user").change(function () {
            $.ajax({
                type: "POST",
                url: '.',
                data: {
                    ddlUser: $('[name=ddlUser]').val().join()
                },
                success: function (response) {
                    var html = response;
                    $("ul.user-list").html(html);
                }
            });
        })
    })
    </script>
{% endblock %}
{% block content %}
        <div class="row">
            <div class="col s12 l2" style="margin-top: 7.5px">
                <!-- 어썸 반응형1 -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-9848654927199314"
                     data-ad-slot="1824258784"
                     data-ad-format="auto"></ins>
            </div>
            <div class="col s12 l8 card-panel">
                <h5 class="thin">최근 접속자 목록</h5>
                <select name="ddlUser" class="select-user" multiple>
                    <option value="" disabled selected>사용자 선택(최대 20개 표시)</option>
                    {% for user in userPage %}
                        {% static 'images/Jigglypuff.png' as default_profile %}
                        <option value="{{ user.user.id }}" data-icon="{{ user.user.socialaccount_set.all.0.get_avatar_url|default:default_profile }}" class="circle">{{ user.user.username }}</option>
                    {% endfor %}
                </select>
                <ul class="collection with-header user-list">
                    {# 자바스크립트에서 동적 생성 #}
                    {% for log in macroLog %}
                        <li class="collection-item user-list">
                            <a href="{% url 'main:user_manage' subdomain=None macro_id=log.macro_id %}">
                                <div>{{ log.macro.title|default:"제목없음" }}</div>
                                <div class="chip">
                                    {% static 'images/Jigglypuff.png' as default_profile %}
                                    <img src="{{ log.user.socialaccount_set.all.0.get_avatar_url|default:default_profile }}">
                                    {{ log.user.username }}
                                </div>
                                <span class="secondary-content">
                                    {{ log.ip }}<br>
                                    <span class="new badge" data-badge-caption="접속">최근 {{ log.created|naturaltime }}</span>
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
{% endblock %}