{% extends 'layout.html' %}
{% load static %}
{% block script %}
    <script>
    $(function(){
        $("select.select-user").change(function () {
            $.ajax({
                type: "POST",
                url: '.',
                data: {
                    ddlUser: $('[name=ddlUser]').val().join()
                },
                success: function (response) {
                    var res = JSON.parse(response);
                    var html = '<li class="collection-item">\
                                    <div><a href="manager/">' + res.macro_name + '</a></div>\
                                    <div class="chip">\
                                        <img src="' +  + '">\
                                        {{ log.user.username }}\
                                    </div>\
                                    <span class="secondary-content">{{ log.created|date:"y-m-d H:i:s" }}</span>\
                                </li>';
                    $("ul li.collection-item.user-list").remove();
                    $("ul.user-list").append(html);
                },
                error: function (e) {
                    console.error(e);
                }
            });
        })
    })
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l6">
                <div class="card-panel">
                    <h5 class="thin">최근 접속자 목록</h5>
                    <ul class="collection with-header user-list">
                        <li class="collection-header">
                            <select name="ddlUser" class="select-user" multiple>
                                <option value="" disabled selected>사용자 선택</option>
                                {% for user in userPage %}
                                <option value="{{ user.user.id }}" data-icon="{% static 'images/Jigglypuff.png' %}" class="circle">{{ user.user.username }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        {% for log in macroLog %}
                            <li class="collection-item user-list">
                                <div><a href="{% url 'main:macro_manager' macro_id=log.macro.id %}">{{ log.macro }}</a></div>
                                <div class="chip">
                                    <img src="{% static 'images/Jigglypuff.png' %}">
                                    {{ log.user.username }}
                                </div>
                                <span class="secondary-content">{{ log.created|date:"y-m-d H:i:s" }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col s12 m12 l6">
                <div class="card-panel">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <div class="chips chips-autocomplete"></div>
                        </li>
                        <li class="collection-item">
                            <div>Alvin<a href="#!" class="secondary-content"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}