{% extends 'layout.html' %}
{% load static %}
{% block script %}
    <script>
    $(function(){
        $("select.select-user").change(function () {
            $.ajax({
                type: "POST",
                url: '.',
                data: {
                    ddlUser: $('[name=ddlUser]').val().join()
                },
                success: function (response) {
                    var html = response;
                    $("ul.user-list").html(html);
                },
                error: function (e) {
                    console.error(e);
                }
            });
        }).trigger('change');
    })
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l6 card-panel">
                <h5 class="thin">최근 접속자 목록</h5>
                <select name="ddlUser" class="select-user" multiple>
                    <option value="" disabled selected>사용자 선택</option>
                    {% for user in userPage %}
                        {% static 'images/Jigglypuff.png' as default_profile %}
                        <option value="{{ user.user.id }}" data-icon="{{ user.user.socialaccount_set.all.0.get_avatar_url|default:default_profile }}" class="circle">{{ user.user.username }}</option>
                    {% endfor %}
                </select>
                <ul class="collection with-header user-list">
                    {# 자바스크립트에서 동적 생성 #}
                </ul>
            </div>
            <div class="col s12 m12 l6">
                <div class="card-panel">
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <div class="chips chips-autocomplete"></div>
                        </li>
                        <li class="collection-item">
                            <div>여기 뭐가 있으면 좋을까..<a href="#!" class="secondary-content"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}